---
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import siteConfig from "../data/site-config";

const navLinks = siteConfig.headerNavLinks || [];
---

<nav class="relative min-h-10 pb-12 pt-4 sm:min-h-14 sm:pb-24 md:pt-8">
  {
    navLinks.length > 0 && (
      <div class="relative mx-auto flex w-full max-w-3xl items-center justify-between">
        <div class="flex items-center">
          <ul class="menu flex gap-3 sm:gap-6">
            {navLinks.map((link) => (
              <li class="py-1">
                <NavLink
                  class="font-serif text-base text-main hover:underline hover:decoration-1 hover:underline-offset-2 md:text-xl"
                  href={link.href}
                >
                  {link.text}
                </NavLink>
              </li>
            ))}
          </ul>
        </div>
        <div class="flex items-center gap-4">
          <a
            href="https://x.com/SurajBuilds"
            class="cursor:pointer"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="hover:text-accent transition-colors duration-200"
            >
              <path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/surajdjagtap/"
            class="cursor:pointer"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="hover:text-accent transition-colors duration-200"
            >
              <>
                <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                <rect width="4" height="12" x="2" y="9" />
                <circle cx="4" cy="4" r="2" />
              </>
            </svg>
          </a>
          <ThemeToggle />
        </div>
      </div>
    )
  }
</nav>
