---
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import siteConfig from "../data/site-config";

const navLinks = siteConfig.headerNavLinks || [];
---

<nav class="relative min-h-10 pb-12 pt-4 sm:min-h-14 sm:pb-24 md:pt-8">
  {
    navLinks.length > 0 && (
      <div class="relative mx-auto flex w-full max-w-3xl items-center justify-between">
        <div class="flex items-center">
          <ul class="menu flex gap-3 sm:gap-6">
            {navLinks.map((link) => (
              <li class="py-1">
                <NavLink
                  class="font-serif text-base text-main hover:underline hover:decoration-1 hover:underline-offset-2 md:text-xl"
                  href={link.href}
                >
                  {link.text}
                </NavLink>
              </li>
            ))}
          </ul>
        </div>
        <div class="flex items-center gap-4">
          <a
            href="https://x.com/SurajBuilds"
            class="cursor:pointer"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M3 21L10.5484 13.4516M21 3L13.4516 10.5484M13.4516 10.5484L8 3H3L10.5484 13.4516M13.4516 10.5484L21 21H16L10.5484 13.4516" />
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/surajdjagtap/"
            class="cursor:pointer"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="hover:text-accent transition-colors duration-200"
            >
              <>
                <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
                <rect width="4" height="12" x="2" y="9" />
                <circle cx="4" cy="4" r="2" />
              </>
            </svg>
          </a>
          <ThemeToggle />
        </div>
      </div>
    )
  }
</nav>
