<style>
/*img {width: 200;
      height: 352;}*/
  md-card>:not(md-card-content) img, md-card>img {
    width: 80%;
  /*height: 100% !important;*/
    height: auto;
}
</style>
<div layout="column">
  <div layout="row" layout-xs="column">
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Home Page</span>
            <span class="md-subhead">Morayaa</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/morayaa/mi1.png" alt="Washed Out">
      </md-card>            
    </div>
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Map</span>
            <span class="md-subhead">Morayaa</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/morayaa/mi2.png" alt="Washed Out">
      </md-card>   
    </div>
  </div>
  <div layout="row" layout-xs="column">
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Galeery</span>
            <span class="md-subhead">Morayaa</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/morayaa/mi7.png" alt="Washed Out">
      </md-card>   
    </div>
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Info</span>
            <span class="md-subhead">Morayaa</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/morayaa/mi9.png" alt="Washed Out">
      </md-card>   
    </div>
  </div>
</div>
<div layout="column">
  <div layout="row" layout-xs="column">
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Feed</span>
            <span class="md-subhead">Varta</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/varta/vi1.png" alt="Washed Out">
      </md-card>            
    </div>
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Summary</span>
            <span class="md-subhead">Varta</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/varta/vi2.png" alt="Washed Out">
      </md-card>   
    </div>
  </div>
  <div layout="row" layout-xs="column">
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Profile</span>
            <span class="md-subhead">Varta</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/varta/vi5.png" alt="Washed Out">
      </md-card>   
    </div>
    <div flex>
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Search</span>
            <span class="md-subhead">Varta</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/varta/vi8.png" alt="Washed Out">
      </md-card>   
    </div>
  </div>
    <div layout="row" layout-xs="column">
    <div flex-xs="100" flex="50">
      <md-card layout-margin>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Timeline</span>
            <span class="md-subhead">Varta</span>
          </md-card-title-text>
        </md-card-title>
        <img ng-src="images/varta/vi9.png" alt="Washed Out">
      </md-card>   
    </div>
  </div>
</div>
